@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  color: #435757;
  font: 0.9em/1 "Noto Sans", sans-serif;
}
#optionsContainer {
  /*background: radial-gradient(#fff, #dac4cd);*/
  width: 96%;
  margin-left: 2%;
  heght: 100%;
  position: absolute;
  display: block;
  border: 3px solid black;
  z-index: 10;
  background-color: gray;
  border-radius: 100px;
}
#optionsContainer h2, #optionsContainer h3 {
    width: 100%;
    text-align: center; 
}
#optionsContainer input {
  position: absolute;
  left: -9999px;
}
#optionsContainer label, #optionsContainer #optionsButton {
  width: 225px;
  display: inline-table;
  position: relative;
  margin: 5px;
  padding: 5px 5px 5px 34px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}
#optionsContainer #optionsButton {
    font: bold 1.1em/1 "Noto Sans", sans-serif;
    width: 150px;
    padding-left: 20px; 
    background-color: #bbc195;
    left: 80%;
}    
#formatsContainer label {
  background-color: #4a4264;
}
#audioContainer label {
  background-color: #7a7274;
}
#optionsContainer label::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 10px;
  width: 20px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color 0.2s;
}
#optionsContainer label:hover, #optionsContainer input:focus + label {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
#optionsContainer input:checked + label {
  background-color: #ab576c;
}
#optionsContainer input:checked + label::before {
  background-color: #fff;
}




.madeby {
    position: absolute;
    right: 50px;
    top: 10px;    
}
body {
    font-family: sans-serif;
    line-height: 1.4;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
	background-color: black;
	color: white;
	overflow-x: hidden;
}

.grid {
    width: 100%;
}

.grid__col-sizer,
.photo-item {
    /* width: 24%; */
}

.grid.masonry .grid__col-sizer,
.grid.masonry .photo-item {
    width: 24%;
}

.grid__gutter-sizer {
    width: 1%;
}

.photo-item {
    margin-bottom: 10px;
    float: left;
}

.photo-item__image {
    display: block;
    max-width: 100%;
}

.photo-item__caption {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: 0;
}

.photo-item__caption a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #777;
}

/* loader ellips in separate pen CSS */
.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) {
    left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
    left: 3em;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em);
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}
